In [8]:
import pandas as pd
ufo=pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/ufo.csv')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [9]:
ufo.drop('City',axis=1)# 1 means column 0 means row

      Colors Reported Shape Reported State              Time
0                 NaN       TRIANGLE    NY    6/1/1930 22:00
1                 NaN          OTHER    NJ   6/30/1930 20:00
2                 NaN           OVAL    CO   2/15/1931 14:00
3                 NaN           DISK    KS    6/1/1931 13:00
4                 NaN          LIGHT    NY   4/18/1933 19:00
...               ...            ...   ...               ...
18236             NaN       TRIANGLE    IL  12/31/2000 23:00
18237             NaN           DISK    IA  12/31/2000 23:00
18238             NaN            NaN    WI  12/31/2000 23:45
18239             RED          LIGHT    WI  12/31/2000 23:45
18240             NaN           OVAL    FL  12/31/2000 23:59

[18241 rows x 4 columns]

In [10]:
ufo.drop(2,axis=0)# 1 means column 0 means row
#look number 2 row is missing

                       City Colors Reported Shape Reported State              Time
0                    Ithaca             NaN       TRIANGLE    NY    6/1/1930 22:00
1               Willingboro             NaN          OTHER    NJ   6/30/1930 20:00
3                   Abilene             NaN           DISK    KS    6/1/1931 13:00
4      New York Worlds Fair             NaN          LIGHT    NY   4/18/1933 19:00
5               Valley City             NaN           DISK    ND   9/15/1934 15:30
...                     ...             ...            ...   ...               ...
18236            Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237           Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238           Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239           Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240                  Ybor             NaN           OVAL    FL  12/31/2000 23:59

[18240 rows x 5 columns]

In [11]:
ufo.mean()

Series([], dtype: float64)

In [14]:
import pandas as pd
games=pd.read_csv('video_games.csv')
games.head()

                      Title  Features.Handheld?  ...  Length.Main Story.Polled  Length.Main Story.Rushed
0         Super Mario 64 DS                True  ...                        21                  9.700000
1    Lumines: Puzzle Fusion                True  ...                         3                  9.583333
2        WarioWare Touched!                True  ...                        30                  1.433333
3  Hot Shots Golf: Open Tee                True  ...                         0                  0.000000
4              Spider-Man 2                True  ...                        23                  5.333333

[5 rows x 36 columns]

In [18]:
games.mean()

Features.Handheld?                  1.000000
Features.Max Players                1.658416
Features.Multiplatform?             1.000000
Features.Online?                    1.000000
Metadata.Licensed?                  1.000000
Metadata.Sequel?                    1.000000
Metrics.Review Score               68.828383
Metrics.Sales                       0.503160
Metrics.Used Price                 17.393894
Release.Re-release?                 1.000000
Release.Year                     2006.820132
Length.All PlayStyles.Average      13.653177
Length.All PlayStyles.Leisure      26.250426
Length.All PlayStyles.Median       11.225371
Length.All PlayStyles.Polled       44.415842
Length.All PlayStyles.Rushed        9.396163
Length.Completionists.Average      19.808223
Length.Completionists.Leisure      25.775234
Length.Completionists.Median       18.801279
Length.Completionists.Polled        5.657591
Length.Completionists.Rushed       16.401059
Length.Main + Extras.Average       12.731491
Length.Main + Extras.Leisure       18.866048
Length.Main + Extras.Median        12.103548
Length.Main + Extras.Polled        13.995875
Length.Main + Extras.Rushed        10.319788
Length.Main Story.Average           8.465952
Length.Main Story.Leisure          11.051966
Length.Main Story.Median            8.280941
Length.Main Story.Polled           24.882838
Length.Main Story.Rushed            6.974697
dtype: float64

<!-- # Docstring:
# Return the mean of the values over the requested axis.

# Parameters
# ----------
# axis : {index (0), columns (1)}
#     Axis for the function to be applied on.
# skipna : bool, default True
#     Exclude NA/null values when computing the result.
# level : int or level name, default None
#     If the axis is a MultiIndex (hierarchical), count along a
#     particular level, collapsing into a Series.
# numeric_only : bool, default None
#     Include only float, int, boolean columns. If None, will attempt to use
#     everything, then use only numeric data. Not implemented for Series.
# **kwargs
#     Additional keyword arguments to be passed to the function. -->

In [19]:
games.mean(axis=0)

Features.Handheld?                  1.000000
Features.Max Players                1.658416
Features.Multiplatform?             1.000000
Features.Online?                    1.000000
Metadata.Licensed?                  1.000000
Metadata.Sequel?                    1.000000
Metrics.Review Score               68.828383
Metrics.Sales                       0.503160
Metrics.Used Price                 17.393894
Release.Re-release?                 1.000000
Release.Year                     2006.820132
Length.All PlayStyles.Average      13.653177
Length.All PlayStyles.Leisure      26.250426
Length.All PlayStyles.Median       11.225371
Length.All PlayStyles.Polled       44.415842
Length.All PlayStyles.Rushed        9.396163
Length.Completionists.Average      19.808223
Length.Completionists.Leisure      25.775234
Length.Completionists.Median       18.801279
Length.Completionists.Polled        5.657591
Length.Completionists.Rushed       16.401059
Length.Main + Extras.Average       12.731491
Length.Main + Extras.Leisure       18.866048
Length.Main + Extras.Median        12.103548
Length.Main + Extras.Polled        13.995875
Length.Main + Extras.Rushed        10.319788
Length.Main Story.Average           8.465952
Length.Main Story.Leisure          11.051966
Length.Main Story.Median            8.280941
Length.Main Story.Polled           24.882838
Length.Main Story.Rushed            6.974697
dtype: float64

In [20]:
games.mean(axis=1)

0       84.029785
1       72.455699
2       74.622258
3       67.917419
4       84.394086
          ...
1207    75.177312
1208    67.580000
1209    67.160645
1210    74.983441
1211    67.289355
Length: 1212, dtype: float64

In [21]:
games.mean(axis='index')

Features.Handheld?                  1.000000
Features.Max Players                1.658416
Features.Multiplatform?             1.000000
Features.Online?                    1.000000
Metadata.Licensed?                  1.000000
Metadata.Sequel?                    1.000000
Metrics.Review Score               68.828383
Metrics.Sales                       0.503160
Metrics.Used Price                 17.393894
Release.Re-release?                 1.000000
Release.Year                     2006.820132
Length.All PlayStyles.Average      13.653177
Length.All PlayStyles.Leisure      26.250426
Length.All PlayStyles.Median       11.225371
Length.All PlayStyles.Polled       44.415842
Length.All PlayStyles.Rushed        9.396163
Length.Completionists.Average      19.808223
Length.Completionists.Leisure      25.775234
Length.Completionists.Median       18.801279
Length.Completionists.Polled        5.657591
Length.Completionists.Rushed       16.401059
Length.Main + Extras.Average       12.731491
Length.Main + Extras.Leisure       18.866048
Length.Main + Extras.Median        12.103548
Length.Main + Extras.Polled        13.995875
Length.Main + Extras.Rushed        10.319788
Length.Main Story.Average           8.465952
Length.Main Story.Leisure          11.051966
Length.Main Story.Median            8.280941
Length.Main Story.Polled           24.882838
Length.Main Story.Rushed            6.974697
dtype: float64